body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.App {
  background-color: rgba(255, 160, 190, 0.462);
  position: absolute;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container4 {
  display: flex;
  flex-wrap: wrap;
}

.container3 {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
}

.search {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #fe52529d;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
}

.search:focus {
  background-color: rgba(250, 219, 219, 0.592);
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
}

::placeholder {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  list-style-type: none;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  list-style-type: none;
  font-size: 10px;
}

h2 {
  font-size: 16px;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(255, 82, 111);
}
ul,
p {
  font-family: "Open Sans", sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(255, 82, 111);
}

/* button {
  margin-top: 10px;
  border-radius: 12px;
  border: none;
  background-color: #dbecc4;
} */

button {
  margin-top: 10px;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #fe52529d;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  list-style-type: none;
}

.btn {
  padding: 0.5em;
}

.container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin: 15px;
  margin-top: 0;
}

ul.container li::before {
  content: "✓";
  color: #a600009d;
}

.calories {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  list-style-type: none;
  color: #ffffff;
  font-size: 13px;
}
